<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auth</title>
    <meta name="description" content="Auth desc">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container-sm w-75">
    <ul class="nav nav-pills py-2">
        <li class="mr-3">
            <span class="navbar-text font-weight-bold">Todos</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Авторизация</a>
        </li>
    </ul>
    <div class="alert alert-danger text-center" role="alert">
        Введите все поля!
    </div>
    <h4>Добро пожаловать на сайт, admin!</h4>
</div>
</body>
</html>